@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Raleway:300,400,500,600,700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: antialiased !important;
}

*::selection {
	background: #999;
	color: #fff;
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: antialiased !important;
	font-family: "Open Sans";
	font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Raleway";
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.title {
	font-size: 40px;
}

.logo {
	font-size: 23px;
}
