.budget-landing {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 400px;
	padding: 0 30px;
}

.budget-form {
	display: flex;
	justify-content: left;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
}

.budget-form .input {
	margin: 10px;
}
