.budget-landing {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	min-height: 500px;
	height: auto;
	padding: 30px 100px;
}

.budget-header {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: auto 0;
}

.budget-content {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	margin-bottom: auto;
}

.budget-description {
	width: 100%;
}

.budget-description .text-row {
	width: 80%;
}

.budget-form {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	flex-wrap: wrap;
	width: 100%;
}

.budget-form .title {
	margin: 10px;
}

.budget-inputs {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.budget-form input {
	display: flex;
	flex: 1;
}

.budget-form textarea {
	display: flex;
	font-family: Raleway;
	width: 100%;
}

.budget-form .input {
	margin: 10px;
}

.budget-form button {
	margin-right: 10px;
	align-self: flex-end;
}
@media (max-width: 1000px) {
	.budget-landing {
		height: auto;
		flex-wrap: wrap;
		padding: 100px 100px;
	}
	.budget-form {
		margin: 20px 0;
	}
	.budget-content .text-row {
		width: 100%;
	}
}
