.landing {
    display: flex;
    width: 100%;
}

.main {
    display: flex;
    height: auto;
    width: 100%;
    background: #f3f3f3;
}

.main img {
    width: 100%;
    height: 100%;
}

.side {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 700px;
    height: auto;
    padding: 50px 70px;
}

.side .spotlight-content {
    display: block;
    align-self: center;
    width: 90%;
    height: 350px;
}

.spotlight-content p {
    margin: 20px 0;
}

.side .side-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.row {
    display: inline-block;
    margin: 10px 0;
}