.landing {
	display: flex;
	width: 100%;
}

.main {
	display: flex;
	height: auto;
	width: 100%;
	background: #f3f3f3;
}

.main img {
	width: 100%;
	height: 100%;
}

.side {
	display: flex;
	justify-content: left;
	align-items: center;
	width: 700px;
	height: 600px;
}

.side.spotlight {
	padding: 0 78px;
}

.side .spotlight-content {
	width: 300px;
	height: 350px;
}

.spotlight-content p {
	margin: 20px 0;
}
